$grid-breakpoints: (
  'xs': 0,
  'sm': 321px,
  'md': 769px,
  'lg': 1367px - 24px,
  'xl': 1480px - 24px
);
$body-font-family: 'Calibri';
$select-selected-chip-opacity:1;
$select-active-chip-opacity:1;
$btn-border-radius:10px;
$card-border-radius:10px;

